if [[ -f "${PWD}/.env" ]]; then
    dotenv
fi

PATH_add "${PWD}/.venv/bin"
export VIRTUAL_ENV="${PWD}/.venv"

if [ ! -d .venv ]; then
    uv sync
fi

if [[ ! -f .git/hooks/pre-commit ]] || ! grep -q pre-commit .git/hooks/pre-commit 2>/dev/null; then
    pre-commit install --install-hooks
fi
