repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: debug-statements
    -   id: name-tests-test
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.12.0
    hooks:
    -   id: reorder-python-imports
        args: [--py311-plus, --add-import, 'from __future__ import annotations']
-   repo: local
    hooks:
    -   id: format-packages-ini
        name: format packages.ini
        language: python
        entry: .venv/bin/python -m format_ini
        files: ^packages\.ini$

    # Configuration for black exists in pyproject.toml,
    # but we let pre-commit take care of the file filtering.
    - id: black
      name: black
      entry: .venv/bin/black
      language: system
      types_or: [python, pyi]
      require_serial: true

    # Configuration for flake8 exists in setup.cfg,
    # but we let pre-commit take care of the file filtering.
    - id: flake8
      name: flake8
      entry: .venv/bin/flake8
      language: system
      types: [python]
      require_serial: true

    - id: pyupgrade
      name: pyupgrade
      entry: .venv/bin/pyupgrade
      language: system
      types: [python]
      args: [--py311-plus]

    - id: mypy
      name: mypy
      entry: .venv/bin/mypy
      language: system
      types: [python]
      require_serial: true
