name: build
on:
  pull_request:
  push:
    branches: [main, test-me-*]

concurrency:
  # serialize runs on the default branch
  group: ${{ github.event_name == 'push' && github.workflow || github.sha }}${{ github.workflow }}

jobs:
  linux:
    strategy:
      matrix:
        include:
        - {arch: amd64, os: ubuntu-latest}
        - {arch: arm64, os: ubuntu-24.04-arm}
    runs-on: ${{ matrix.os }}
    container: ghcr.io/getsentry/pypi-manylinux-${{ matrix.arch }}-ci
    steps:
    - uses: actions/checkout@v3
    - run: python3 -um build --pypi-url https://pypi.devinfra.sentry.io
    - run: python3 -um validate --index-url https://pypi.devinfra.sentry.io/simple
    - uses: actions/upload-artifact@v4
      with:
        name: dist-linux-${{ matrix.arch }}
        path: dist/*
  macos:
    strategy:
      matrix:
        runs-on: [macos-14]
    runs-on: ${{ matrix.runs-on }}
    steps:
    - uses: actions/checkout@v3
    - run: |
        # work around https://github.com/indygreg/python-build-standalone/issues/208
        HOMEBREW_NO_AUTO_UPDATE=1 brew install gnu-tar
        echo "$(brew --prefix gnu-tar)/libexec/gnubin" >> "$GITHUB_PATH"
    - run: python3 -u docker/install-pythons --dest pythons
    - run: |
        echo "$PWD/pythons/cp311-cp311/bin" >> "$GITHUB_PATH"
        echo "$PWD/pythons/cp312-cp312/bin" >> "$GITHUB_PATH"
        echo "$PWD/pythons/cp313-cp313/bin" >> "$GITHUB_PATH"
        echo "$PWD/venv/bin" >> "$GITHUB_PATH"
    - run: python3 -um venv venv && pip install -r docker/requirements.txt
    - run: python3 -um build --pypi-url https://pypi.devinfra.sentry.io
    - run: python3 -um validate --index-url https://pypi.devinfra.sentry.io/simple
    - uses: actions/upload-artifact@v4
      with:
        name: dist-${{ matrix.runs-on }}
        path: dist/*

  collect-and-deploy:
    needs: [linux, macos]
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - run: pip install -r docker/requirements.txt
    - uses: actions/download-artifact@v4
      with:
        path: dist
    - run: python3 -um make_index --pypi-url https://pypi.devinfra.sentry.io --dest index
    - uses: google-github-actions/auth@ba79af03959ebeac9769e648f473a284504d9193 # v2.1.10
      with:
        workload_identity_provider: projects/868781662168/locations/global/workloadIdentityPools/prod-github/providers/github-oidc-pool
        service_account: gha-pypi@sac-prod-sa.iam.gserviceaccount.com
    - run: python3 -uS bin/upload-artifacts
