name: pre-commit
on:
  pull_request:
  push:
    branches: [main, test-me-*]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Get changed files
      id: changes
      uses: dorny/paths-filter@0bc4621a3135347011ad047f9ecf449bf72ce2bd # v3.0.0
      with:
        list-files: json
        filters: |
          all:
            - added|modified: '**/*'

    - uses: astral-sh/setup-uv@884ad927a57e558e7a70b92f2bccf9198a4be546 # v6
      with:
        version: '0.8.2'
        # we just cache the venv-dir directly in action-setup-venv
        enable-cache: false

    - uses: getsentry/action-setup-venv@v3.0.0
      with:
        cache-dependency-path: uv.lock
        install-cmd: uv sync --frozen --active

    - uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4.2.0
      with:
        path: ~/.cache/pre-commit
        key: cache-epoch-1|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml', 'uv.lock') }}

    - name: Install pre-commit
      run: pre-commit install-hooks

    - name: Run pre-commit
      run: |
        jq '.[]' --raw-output <<< '${{steps.changes.outputs.all_files}}' |
          # Run pre-commit to lint and format check files that were changed (but not deleted)
          xargs pre-commit run --files
